<app-navbar></app-navbar>
<section
  class="c-simulation-denied section-with-fixed-navbar container mx-auto"
>
  <div class="row">
    <div
      class="
        c-simulation-denied__content
        col-12
        d-flex
        flex-column
        justify-content-center
        align-items-center
        px-4
      "
    >
      <img
        class="my-4"
        src="../../../assets/undraw-alert.svg"
        alt="simulação-negada"
        width="300px"
      />
      <div
        class="
          c-simulation-denied__content--title
          d-flex
          flex-column
          justify-content-center
          my-4
        "
      >
        <h1 class="text-center">Título do erro aqui</h1>
        <h6 class="lead-color text-center">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Enim adim
          ad minimim veniam, quis nostrud exercise ullamco laboris nisi ut
          alipip ex ea commodo consequat. Duis auteur irure pain in
          reprehenderit in voluptate velit this cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occecat cupidatat non proident, sunt in culpa
          qui officia deserunt mollit anim id est laborum.
        </h6>
        <div
          class="alert alert-info mt-5 d-flex aligm-items-center"
          role="alert"
        >
          <nb-icon class="me-2" icon="alert-circle-outline"></nb-icon>
          This is a info alert—check it out!
        </div>
      </div>
    </div>
  </div>
</section>
