@use './variables.scss' as variables;

* {
  font-family: "Ubuntu", sans-serif;
}

h1,
h2,
h3 {
  font-weight: 800;
}

h5,
h6 {
  font-weight: 500 !important;
}

.lead-color {
  color: variables.$lead-color !important;
}

.gray-color {
  color: variables.$gray-color !important;
}

.section-with-navbar {
  margin-top: variables.$navbar-height !important;
}

@media (max-width: 500px) {
  h3 {
    font-size: 1.2rem !important;
  }
}
