$default-border-radius-1: 25px;
$default-box-shadow-1: 0 0.5rem 1.25rem 0 rgb(218 224 235 / 60%);
$lead-color: #757575;
$gray-color: #949494;
$primary-color: #276b50;
$primary-color-hover: #13a26a;
$primary-color-focus: #0b593a;
$secondary-color: #f3b01d;
$text-basic-color: #1a4066;
$navbar-height: 76px;
