.c-consult-data {
  &__initial-form {
    &--image {
      width: 300px;
    }
  }

  &__consult-form {
    &--image {
      width: 225px;
    }
  }
}

@media (max-width: 768px) {
  .c-consult-data {
    &__initial-form {
      &--image {
        width: 185px;
      }
    }

    &__consult-form {
      &--image {
        width: 150px;
      }
    }
  }
}
