<app-navbar></app-navbar>
<section class="c-consult-data section-with-fixed-navbar container mx-auto p-4">
  <div class="row">
    <div class="c-consult-data__actions col-12 p-0">
      <button
        nbButton
        ghost
        status="primary"
        nbTooltip="Voltar"
        type="button"
        (click)="goToBackPage()"
      >
        <nb-icon icon="arrow-ios-back-outline" pack="eva"></nb-icon>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="c-consult-data__title col-12">
      <h1 class="mb-1">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="c-consult-data__subtitle col-12">
      <h6 class="lead-color">
        Obcaecati nostrum nulla sunt minus aut veniam nam adipisci eum a quo
        sequi perspiciatis.
      </h6>
    </div>
  </div>
  <div class="row mt-5">
    <nb-card class="col-12 p-0 p-lg-4">
      <nb-card-body>
        <nb-stepper linear disableStepNavigation orientation="horizontal">
          <nb-step
            *ngIf="initialDataForm"
            label="Dados iniciais"
            [stepControl]="initialDataForm"
          >
            <form
              #ngInitialDataForm="ngForm"
              [formGroup]="initialDataForm"
              class="c-consult-data__initial-form row"
              (ngSubmit)="initialDataFormSubmit(ngInitialDataForm)"
            >
              <!-- Image -->
              <div
                class="
                  col-12 col-lg-7
                  p-4
                  d-flex
                  justify-content-center
                  aligm-items-center
                "
              >
                <img
                  class="c-consult-data__initial-form--image"
                  src="../../../assets/undraw-register-1.svg"
                  alt="Cadastro"
                />
              </div>
              <!-- Fieldset-->
              <fieldset class="col-12 col-lg-5 p-0 px-lg-2 d-flex flex-wrap">
                <div class="col-12 px-2 my-2">
                  <strong>Já possui cadastro?</strong>
                </div>
                <div class="col-12 px-2 my-2">
                  <button nbButton type="button" routerLink="/login">
                    Fazer login
                    <nb-icon icon="log-in-outline"></nb-icon>
                  </button>
                </div>
                <div class="col-12 px-2 mt-4 mb-2">
                  <strong>Ainda não é cadastrado?</strong>
                </div>
                <div class="form-group col-12 px-2 my-2">
                  <label for="email">E-mail*:</label>
                  <nb-form-field>
                    <input
                      nbInput
                      fullWidth
                      type="email"
                      id="email"
                      formControlName="email"
                      autocomplete="off"
                      placeholder="ex.: email@provedor.com"
                    />
                  </nb-form-field>
                </div>
                <div class="form-group col-12 px-2 my-2">
                  <label for="emailConfirm">Confirme seu e-mail*:</label>
                  <nb-form-field>
                    <input
                      nbInput
                      fullWidth
                      type="email"
                      id="emailConfirm"
                      formControlName="emailConfirm"
                      autocomplete="off"
                      placeholder="ex.: email@provedor.com"
                    />
                  </nb-form-field>
                </div>
                <div class="form-group col-12 px-2 my-2">
                  <label for="phone">Celular*:</label>
                  <nb-form-field>
                    <input
                      nbInput
                      fullWidth
                      type="text"
                      id="phone"
                      mask="(00) 0 0000-0000"
                      formControlName="phone"
                      autocomplete="off"
                      placeholder="ex.: (00) 0 0000-0000"
                    />
                  </nb-form-field>
                </div>
                <div class="form-group col-12 px-2 my-2">
                  <label for="password">Senha*:</label>
                  <nb-form-field>
                    <input
                      nbInput
                      fullWidth
                      id="password"
                      formControlName="password"
                      [type]="getCurrentPasswordInputType()"
                      autocomplete="off"
                      placeholder="Deve conter letras, números e 8 dígitos"
                    />
                    <button
                      nbSuffix
                      nbButton
                      ghost
                      type="button"
                      (click)="toggleShowPassword()"
                    >
                      <nb-icon
                        [icon]="
                          showPassword ? 'eye-outline' : 'eye-off-2-outline'
                        "
                        pack="eva"
                        [attr.aria-label]="
                          showPassword ? 'hide password' : 'show password'
                        "
                      ></nb-icon>
                    </button>
                  </nb-form-field>
                </div>
                <div class="form-group col-12 px-2 mt-3">
                  <nb-checkbox
                    id="canReceiveEmail"
                    formControlName="canReceiveEmail"
                  >
                    Gostaria de receber comunicados da Elleve
                  </nb-checkbox>
                </div>
                <div class="form-group col-12 px-2 mt-2">
                  <nb-checkbox
                    id="acceptedTerms"
                    formControlName="acceptedTerms"
                  >
                    Li e aceito os
                    <a>termos de uso</a>
                    e
                    <a>política de privacidade</a>
                    .
                  </nb-checkbox>
                </div>
              </fieldset>
              <div class="form-group col-12 mt-5 d-flex justify-content-end">
                <button nbButton type="submit" status="primary" nbStepperNext>
                  Efetivar Cadastro
                  <nb-icon icon="arrow-forward-outline"></nb-icon>
                </button>
              </div>
            </form>
          </nb-step>
          <nb-step
            *ngIf="consultDataForm"
            label="Consulta dos dados"
            [stepControl]="consultDataForm"
          >
            <form
              #ngConsultDataForm="ngForm"
              class="c-consult-data__consult-form row"
              [formGroup]="consultDataForm"
              (ngSubmit)="consultDataFormSubmit(ngConsultDataForm)"
            >
              <!-- Image -->
              <div
                class="
                  col-12 col-lg-7
                  p-4
                  d-flex
                  justify-content-center
                  aligm-items-center
                "
              >
                <img
                  class="c-consult-data__consult-form--image"
                  src="../../../assets/undraw-search-1.svg"
                  alt="Cadastro"
                />
              </div>
              <!-- Fieldset-->
              <fieldset class="col-12 col-lg-5 p-0 px-lg-2 d-flex flex-wrap">
                <div class="col-12 px-2 my-2">
                  <strong>
                    Agora, nos informe os dados para consultar sua situação:
                  </strong>
                </div>
                <div class="form-group col-12 px-2 my-2">
                  <label for="cpf">CPF*:</label>
                  <nb-form-field>
                    <input
                      nbInput
                      fullWidth
                      type="text"
                      id="cpf"
                      mask="000.000.000-00"
                      formControlName="cpf"
                      autocomplete="off"
                      placeholder="ex.: 000.000.00-00"
                    />
                  </nb-form-field>
                </div>
                <div class="form-group col-12 px-2 my-2">
                  <label for="fullName">Nome Completo*:</label>
                  <nb-form-field>
                    <input
                      nbInput
                      fullWidth
                      type="text"
                      id="fullName"
                      formControlName="fullName"
                      autocomplete="off"
                      placeholder="ex.: Fulanx da Silva"
                    />
                  </nb-form-field>
                </div>
                <div class="form-group col-12 px-2 my-2">
                  <label for="birthDate">Data de Nascimento*:</label>
                  <nb-form-field>
                    <input
                      nbInput
                      fullWidth
                      type="date"
                      id="birthDate"
                      formControlName="birthDate"
                      autocomplete="off"
                      placeholder="ex.: dd/mm/aaaa"
                    />
                  </nb-form-field>
                </div>
                <div class="form-group col-12 px-2 my-2">
                  <label for="motherFullName">Nome completo da mãe*:</label>
                  <nb-form-field>
                    <input
                      nbInput
                      fullWidth
                      type="text"
                      id="motherFullName"
                      formControlName="motherFullName"
                      autocomplete="off"
                      placeholder="ex.: Fulanx da Silva"
                    />
                  </nb-form-field>
                </div>
                <div class="form-group col-12 px-2 mt-3">
                  <nb-checkbox id="ownerOfData" formControlName="ownerOfData">
                    Confirma que os dados são próprios
                  </nb-checkbox>
                </div>
                <div class="form-group col-12 px-2 mt-3">
                  <nb-checkbox
                    id="allowExternalConsult"
                    formControlName="allowExternalConsult"
                  >
                    Permite consulta externas com os dados
                  </nb-checkbox>
                </div>
              </fieldset>
              <div class="form-group col-12 mt-5 d-flex justify-content-end">
                <button nbButton type="submit" status="primary" nbStepperNext>
                  Realizar Consulta
                  <nb-icon icon="arrow-forward-outline"></nb-icon>
                </button>
              </div>
            </form>
          </nb-step>
          <nb-step label="Resultado">
            <!-- Sucesso -->
            <div *ngIf="successOnConsult" class="row mt-4">
              <div
                class="
                  c-simulation-denied__content
                  col-12
                  d-flex
                  flex-column
                  justify-content-center
                  align-items-center
                  px-4
                "
              >
                <img
                  class="my-4"
                  src="../../../assets/undraw-done-2.svg"
                  alt="simulação-negada"
                  width="300px"
                />
                <div
                  class="
                    c-simulation-denied__content--title
                    d-flex
                    flex-column
                    justify-content-center
                    my-4
                  "
                >
                  <h1 class="text-center">Consulta realizada com sucesso!</h1>
                  <h6 class="lead-color text-center">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Enim adim ad minimim veniam, quis nostrud exercise
                    ullamco laboris nisi ut alipip ex ea commodo consequat. Duis
                    auteur irure pain in reprehenderit in voluptate velit this
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.
                  </h6>
                  <div
                    class="alert alert-success mt-5 d-flex aligm-items-center"
                    role="alert"
                  >
                    <nb-icon class="me-2" icon="alert-circle-outline"></nb-icon>
                    This is a info alert—check it out!
                  </div>
                </div>
              </div>
            </div>
            <!-- Negado -->
            <div *ngIf="!successOnConsult" class="row mt-4">
              <div
                class="
                  c-simulation-denied__content
                  col-12
                  d-flex
                  flex-column
                  justify-content-center
                  align-items-center
                  px-4
                "
              >
                <img
                  class="my-4"
                  src="../../../assets/undraw-alert.svg"
                  alt="simulação-negada"
                  width="250px"
                />
                <div
                  class="
                    c-simulation-denied__content--title
                    d-flex
                    flex-column
                    justify-content-center
                    my-4
                  "
                >
                  <h1 class="text-center">Título do erro aqui</h1>
                  <h6 class="lead-color text-center">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Enim adim ad minimim veniam, quis nostrud exercise
                    ullamco laboris nisi ut alipip ex ea commodo consequat. Duis
                    auteur irure pain in reprehenderit in voluptate velit this
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.
                  </h6>
                  <div
                    class="alert alert-info mt-5 d-flex aligm-items-center"
                    role="alert"
                  >
                    <nb-icon class="me-2" icon="alert-circle-outline"></nb-icon>
                    This is a info alert—check it out!
                  </div>
                </div>
              </div>
            </div>
          </nb-step>
        </nb-stepper>
      </nb-card-body>
    </nb-card>
  </div>
</section>
