<app-navbar [fixed]="false"></app-navbar>
<div class="c-home">
  <!-- Primeira seção -->
  <section class="c-home__main">
    <div class="container mx-auto px-4 py-0 h-100">
      <div class="row h-100">
        <!-- Imagem -->
        <div class="col-12 col-lg-6 h-100">
          <img
            class="c-home__main--img"
            src="../../../assets/stock-4.png"
            alt="empréstimo"
          />
        </div>
        <!-- Título -->
        <div
          class="
            col-12 col-lg-6
            py-4
            c-home__main--title-container
            d-flex
            flex-wrap
            align-items-center
          "
        >
          <div class="glassmorphism-card-1 py-4 px-4">
            <h1 class="mb-3 mt-0">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </h1>
            <h6 class="lead-color">
              Quod, adipisci quas, accusantium doloremque deserunt pariatur
              explicabo sed provident ipsa ipsam maxime nemo unde voluptates
              fugiat ullam nam praesentium quae enim.
            </h6>
            <button
              nbButton
              class="mt-5"
              status="primary"
              size="giant"
              [routerLink]="['/selecionar-tipo-emprestimo']"
            >
              Simular Agora
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Seção Tipos de Empréstimo -->
  <section class="c-home__loan-type">
    <div class="container mx-auto px-4 py-5">
      <div class="row">
        <div class="col-12">
          <div class="c-home__loan-type--title text-center">
            <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div
            class="
              c-home__loan-type--options
              py-4
              d-flex
              justify-content-center
              flex-wrap
            "
          >
            <app-card-tipo-emprestimo
              class="m-3"
              title="Tipo de empréstimo 1"
              subtitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
              image="../../../assets/undraw-transfer-money.svg"
            ></app-card-tipo-emprestimo>
            <app-card-tipo-emprestimo
              class="m-3"
              title="Tipo de empréstimo 2"
              subtitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
              image="../../../assets/undraw-transfer-money-3.svg"
            ></app-card-tipo-emprestimo>
            <app-card-tipo-emprestimo
              class="m-3"
              title="Tipo de empréstimo 3"
              subtitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
              image="../../../assets/undraw-transfer-money-4.svg"
            ></app-card-tipo-emprestimo>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Seção de Depoimentos -->
  <section class="c-home__quotes py-4">
    <div class="container mx-auto px-4">
      <div class="row py-4">
        <div class="col-12">
          <div class="text-center">
            <h1 class="mt-4">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit</p>
          </div>
        </div>
      </div>
      <div class="row py-4">
        <!-- Card de depoiment 1 ** DEVE SER COMPONENTIZADO **-->
        <div class="col-12 col-lg-4 c-home__quotes--card py-2">
          <div
            class="
              glassmorphism-card-1
              d-flex
              justify-content-center
              align-items-center
              flex-wrap
              p-4
            "
          >
            <div class="c-home__quotes--people-img circle col-12 col-lg-4 my-3">
              <img
                src="../../../assets/stock-2.png"
                alt="people-1"
                class="circle"
                width="100%"
                height="100%"
              />
            </div>
            <div
              class="c-home__quotes--people-detail col-12 col-lg-8 ps-0 ps-lg-4"
            >
              <p><strong>Fulano de Souza</strong></p>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi
                illum dicta, excepturi fugit totam, dolore quod maxime autem
                neque, culpa soluta nihil nisi unde mollitia illo.
              </p>
            </div>
          </div>
        </div>
        <!-- Card de depoiment 2 ** DEVE SER COMPONENTIZADO **-->
        <div class="col-12 col-lg-4 c-home__quotes--card py-2">
          <div
            class="
              d-flex
              glassmorphism-card-1
              justify-content-center
              align-items-center
              flex-wrap
              p-4
            "
          >
            <div class="c-home__quotes--people-img circle col-12 col-lg-4 my-3">
              <img
                src="../../../assets/stock-6.png"
                alt="people-1"
                class="circle"
                width="100%"
                height="100%"
              />
            </div>
            <div
              class="c-home__quotes--people-detail col-12 col-lg-8 ps-0 ps-lg-4"
            >
              <p><strong>Ciclano Santos</strong></p>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi
                illum dicta, excepturi fugit totam, dolore quod maxime autem
                neque, culpa soluta nihil nisi unde mollitia illo.
              </p>
            </div>
          </div>
        </div>
        <!-- Card de depoiment 3 ** DEVE SER COMPONENTIZADO **-->
        <div class="col-12 col-lg-4 c-home__quotes--card py-2">
          <div
            class="
              d-flex
              glassmorphism-card-1
              justify-content-center
              align-items-center
              flex-wrap
              p-4
            "
          >
            <div class="c-home__quotes--people-img circle col-4 my-3">
              <img
                src="../../../assets/stock-3.png"
                alt="people-1"
                class="circle"
                width="100%"
                height="100%"
              />
            </div>
            <div
              class="c-home__quotes--people-detail col-12 col-lg-8 ps-0 ps-lg-4"
            >
              <p><strong>Beltrano Silva</strong></p>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi
                illum dicta, excepturi fugit totam, dolore quod maxime autem
                neque, culpa soluta nihil nisi unde mollitia illo.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row pb-4">
        <div class="col-12 d-flex justify-content-center pt-5">
          <button nbButton status="basic" size="large">Conheça a Elleve</button>
        </div>
      </div>
    </div>
  </section>
  <!-- Última seção-->
  <section class="c-home__about">
    <div class="container mx-auto px-4 py-5">
      <div class="row py-4 with-divider c-home__about--links">
        <div class="col-4">
          <h6 class="mb-3"><strong>Empréstimo</strong></h6>
          <p class="lead-color">Lorem ipsum</p>
          <p class="lead-color">Lorem ipsum</p>
          <p class="lead-color">Lorem ipsum</p>
          <p class="lead-color">Lorem ipsum</p>
        </div>
        <div class="col-4">
          <h6 class="mb-3"><strong>Sobre Nós</strong></h6>
          <p class="lead-color">Lorem ipsum</p>
          <p class="lead-color">Lorem ipsum</p>
          <p class="lead-color">Lorem ipsum</p>
          <p class="lead-color">Lorem ipsum</p>
        </div>
        <div class="col-4">
          <h6 class="mb-3"><strong>Ajuda</strong></h6>
          <p class="lead-color">Lorem ipsum</p>
          <p class="lead-color">Lorem ipsum</p>
          <p class="lead-color">Lorem ipsum</p>
          <p class="lead-color">Lorem ipsum</p>
        </div>
      </div>
      <div class="row c-home__about--info py-4">
        <div class="col-12">
          <p class="lead-color">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. In saepe
            cumque est ipsam tempore illo impedit porro sint harum, numquam quia
            molestiae eveniet distinctio dignissimos nobis exercitationem
            repudiandae autem debitis.
          </p>
          <p class="lead-color">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. In saepe
            cumque est ipsam tempore illo impedit porro sint harum, numquam quia
            molestiae eveniet distinctio dignissimos nobis exercitationem
            repudiandae autem debitis.
          </p>
        </div>
      </div>
      <div class="row c-home__about--social-media py-3">
        <div class="col-12 d-flex justify-content-end">
          <img
            class="mx-2"
            src="../../../assets/instagram.png"
            alt="Instagram"
          />
          <img class="mx-2" src="../../../assets/facebook.png" alt="Facebook" />
        </div>
      </div>
    </div>
  </section>
</div>
