@use '../../../styles/variables.scss' as variables;

.c-home {
  scroll-behavior: smooth;

  &__main {
    background-image: linear-gradient(
      #edca49,
      #ecca44,
      #eac63e,
      #e5c135,
      #dcb623
    );
    height: calc(100vh - #{variables.$navbar-height});

    &--title-container {
    }

    &--img {
      height: 100%;
    }
  }

  &__loan-type {
  }

  &__quotes {
    background-color: variables.$primary-color;

    &--card {
      height: 100%;
    }

    &--people-img {
      width: 100px;
      height: 100px;
      background-color: white;
    }
  }

  &__about {
    background-color: white;
  }
}

@media (max-width: 768px) {
  .c-home {
    &__main {
      height: unset;

      &--img {
        height: unset;
        width: 100%;
      }
    }
  }
}
