<app-navbar></app-navbar>
<div class="c-home section-with-navbar">
  <!-- Primeira seção -->
  <section class="c-home__main">
    <!-- Waves -->
    <div class="c-home__main--waves">
      <svg
        data-name="Layer 1"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1200 120"
        preserveAspectRatio="none"
      >
        <path
          d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
          opacity=".25"
          class="shape-fill"
        ></path>
        <path
          d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
          opacity=".5"
          class="shape-fill"
        ></path>
        <path
          d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
          class="shape-fill"
        ></path>
      </svg>
    </div>
    <div class="container mx-auto px-4 py-0 h-100">
      <div class="row h-100">
        <!-- Imagem -->
        <div class="col-12 col-lg-6 h-100">
          <img
            class="c-home__main--img"
            src="../../../assets/stock-4.png"
            alt="empréstimo"
          />
        </div>
        <!-- Título -->
        <div
          class="
            col-12 col-lg-6
            py-4
            c-home__main--title-container
            d-flex
            flex-wrap
            align-items-center
          "
        >
          <div class="glassmorphism-card-1 py-4 px-4">
            <h1 class="mb-3 mt-0">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </h1>
            <h6 class="lead-color">
              Quod, adipisci quas, accusantium doloremque deserunt pariatur
              explicabo sed provident ipsa ipsam maxime nemo unde voluptates
              fugiat ullam nam praesentium quae enim.
            </h6>
            <button
              nbButton
              class="mt-5"
              status="primary"
              size="giant"
              [routerLink]="['/selecionar-tipo-emprestimo']"
            >
              Simular Agora
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Seção Tipos de Empréstimo -->
  <section class="c-home__loan-type">
    <div class="container mx-auto px-4 py-5">
      <div class="row">
        <div class="col-12">
          <div class="c-home__loan-type--title text-center">
            <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div
            class="
              c-home__loan-type--options
              py-4
              d-flex
              justify-content-center
              flex-wrap
            "
          >
            <app-card-tipo-emprestimo
              class="m-3"
              title="Tipo de empréstimo 1"
              subtitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
              image="../../../assets/undraw-transfer-money.svg"
            ></app-card-tipo-emprestimo>
            <app-card-tipo-emprestimo
              class="m-3"
              title="Tipo de empréstimo 2"
              subtitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
              image="../../../assets/undraw-transfer-money-3.svg"
            ></app-card-tipo-emprestimo>
            <app-card-tipo-emprestimo
              class="m-3"
              title="Tipo de empréstimo 3"
              subtitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
              image="../../../assets/undraw-transfer-money-4.svg"
            ></app-card-tipo-emprestimo>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Seção de Depoimentos -->
  <section class="c-home__quotes py-5">
    <div class="container mx-auto px-4 py-5">
      <div class="row py-4">
        <div class="col-12">
          <div class="text-center">
            <h1 class="text-white mt-4">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </h1>
            <p class="text-white">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis
              veniam reprehenderit voluptatibus aspernatur totam veritatis cum
              ad unde, inventore ipsa corporis necessitatibus voluptas mollitia,
              nihil voluptates in magnam! Ipsum, quibusdam!
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- Card de depoiment 1 ** DEVE SER COMPONENTIZADO **-->
        <div class="col-12 col-lg-4 c-home__quotes--card py-2">
          <div
            class="
              glassmorphism-card-1
              d-flex
              justify-content-center
              align-items-center
              flex-wrap
              p-4
            "
          >
            <div class="c-home__quotes--people-img circle col-12 col-lg-4 my-3">
              <img
                src="../../../assets/stock-2.png"
                alt="people-1"
                class="circle"
                width="100%"
                height="100%"
              />
            </div>
            <div
              class="c-home__quotes--people-detail col-12 col-lg-8 ps-0 ps-lg-4"
            >
              <p><strong>Fulano de Souza</strong></p>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi
                illum dicta, excepturi fugit totam, dolore quod maxime autem
                neque, culpa soluta nihil nisi unde mollitia illo.
              </p>
            </div>
          </div>
        </div>
        <!-- Card de depoiment 2 ** DEVE SER COMPONENTIZADO **-->
        <div class="col-12 col-lg-4 c-home__quotes--card py-2">
          <div
            class="
              d-flex
              glassmorphism-card-1
              justify-content-center
              align-items-center
              flex-wrap
              p-4
            "
          >
            <div class="c-home__quotes--people-img circle col-12 col-lg-4 my-3">
              <img
                src="../../../assets/stock-6.png"
                alt="people-1"
                class="circle"
                width="100%"
                height="100%"
              />
            </div>
            <div
              class="c-home__quotes--people-detail col-12 col-lg-8 ps-0 ps-lg-4"
            >
              <p><strong>Ciclano Santos</strong></p>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi
                illum dicta, excepturi fugit totam, dolore quod maxime autem
                neque, culpa soluta nihil nisi unde mollitia illo.
              </p>
            </div>
          </div>
        </div>
        <!-- Card de depoiment 3 ** DEVE SER COMPONENTIZADO **-->
        <div class="col-12 col-lg-4 c-home__quotes--card py-2">
          <div
            class="
              d-flex
              glassmorphism-card-1
              justify-content-center
              align-items-center
              flex-wrap
              p-4
            "
          >
            <div class="c-home__quotes--people-img circle col-4 my-3">
              <img
                src="../../../assets/stock-3.png"
                alt="people-1"
                class="circle"
                width="100%"
                height="100%"
              />
            </div>
            <div
              class="c-home__quotes--people-detail col-12 col-lg-8 ps-0 ps-lg-4"
            >
              <p><strong>Beltrano Silva</strong></p>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi
                illum dicta, excepturi fugit totam, dolore quod maxime autem
                neque, culpa soluta nihil nisi unde mollitia illo.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row pb-4">
        <div class="col-12 d-flex justify-content-center pt-5">
          <button nbButton status="basic" size="large">Conheça a Elleve</button>
        </div>
      </div>
    </div>
    <!-- Waves -->
    <div class="c-home__quotes--waves-top">
      <svg
        data-name="Layer 1"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1200 120"
        preserveAspectRatio="none"
      >
        <path
          d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
          opacity=".25"
          class="shape-fill"
        ></path>
        <path
          d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
          opacity=".5"
          class="shape-fill"
        ></path>
        <path
          d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
          class="shape-fill"
        ></path>
      </svg>
    </div>
    <div class="c-home__quotes--waves-bottom">
      <svg
        data-name="Layer 1"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1200 120"
        preserveAspectRatio="none"
      >
        <path
          d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
          opacity=".25"
          class="shape-fill"
        ></path>
        <path
          d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
          opacity=".5"
          class="shape-fill"
        ></path>
        <path
          d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
          class="shape-fill"
        ></path>
      </svg>
    </div>
  </section>
  <!-- Última seção-->
  <section class="c-home__about">
    <div class="container mx-auto px-4 py-5">
      <div class="row py-4 with-divider c-home__about--links">
        <div class="col-4">
          <h6 class="mb-3"><strong>Empréstimo</strong></h6>
          <p class="lead-color">Lorem ipsum</p>
          <p class="lead-color">Lorem ipsum</p>
          <p class="lead-color">Lorem ipsum</p>
          <p class="lead-color">Lorem ipsum</p>
        </div>
        <div class="col-4">
          <h6 class="mb-3"><strong>Sobre Nós</strong></h6>
          <p class="lead-color">Lorem ipsum</p>
          <p class="lead-color">Lorem ipsum</p>
          <p class="lead-color">Lorem ipsum</p>
          <p class="lead-color">Lorem ipsum</p>
        </div>
        <div class="col-4">
          <h6 class="mb-3"><strong>Ajuda</strong></h6>
          <p class="lead-color">Lorem ipsum</p>
          <p class="lead-color">Lorem ipsum</p>
          <p class="lead-color">Lorem ipsum</p>
          <p class="lead-color">Lorem ipsum</p>
        </div>
      </div>
      <div class="row c-home__about--info py-4">
        <div class="col-12">
          <p class="lead-color">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. In saepe
            cumque est ipsam tempore illo impedit porro sint harum, numquam quia
            molestiae eveniet distinctio dignissimos nobis exercitationem
            repudiandae autem debitis.
          </p>
          <p class="lead-color">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. In saepe
            cumque est ipsam tempore illo impedit porro sint harum, numquam quia
            molestiae eveniet distinctio dignissimos nobis exercitationem
            repudiandae autem debitis.
          </p>
        </div>
      </div>
      <div class="row c-home__about--social-media py-3">
        <div class="col-12 d-flex justify-content-end">
          <img
            class="mx-2"
            src="../../../assets/instagram.png"
            alt="Instagram"
          />
          <img class="mx-2" src="../../../assets/facebook.png" alt="Facebook" />
        </div>
      </div>
    </div>
  </section>
</div>
